@import 'src/colors'
@import 'src/constants'

#root
  align-self: flex-start

.transaction-list
  display: flex
  flex-direction: column
  width: 100%
  max-width: $max-page-width
  height: 100%
  box-shadow: 0 0 100px 100px rgba(0, 0, 0, 0.02)

  .separator-text
    margin: 8px

